<div class="col-md-8 col-md-offset-2">
  <div class="pull-right">
    <%= link_to("Add a post", new_admin_post_path, :class => "btn btn-default" ) %>
  </div>

  <br><br>

  <table class="table table-bordered">
    <% @posts.each do |post| %>
    <tr>
      <td>
        <%= link_to(post.title, admin_post_path(post)) %>
      </td>
      <td>
        <%= link_to("Edit", edit_admin_post_path(post),:class => "btn btn-default btn-sm") %>
        <%= link_to("Destroy", admin_post_path(post),:class => "btn btn-danger btn-sm", :method => :delete, :data => { :confirm => "Are you sure?" }) %>
      </td>
      <td>
        <%= post.created_at %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
