<h4>
  <%= link_to("Ruby", ruby_posts_path(:order=> "by_developer")) %>
  <%= link_to("Rails", rails_posts_path(:order=> "by_developer")) %>
  <%= link_to("Linux", linux_posts_path(:order=> "by_developer")) %>
  <%= link_to("CSS", css_posts_path(:order=> "by_developer")) %>
</h4>
<table class="table table-bordered">
  <% @posts.each do |post| %>
  <tr>
    <td>
      <%= link_to(post.title, post_path(post)) %>
    </td>
    <td>
      <%= post.created_at %>
    </td>
    <td><%= post.category.name %></td>
  </tr>
  <% end %>
</table>
