
<div class="post-box1">
    <% @posts.each do |post| %>
    <div class="post-main-box">
      <h4 class="post-title"><%= link_to(post.title, post_path(post)) %></h4>
      <p class="post-zhaoyao"><%= post.summary %></p>
      <p class="post-info">
        <span><i class="fa fa-user"></i> <%= post.author %></span>
        <span><i class="fa fa-clock-o"></i> <%= post.created_at.to_s(:ymd) %></span>
        <span class="post-lei">【 <%= link_to(post.category.name, upward_posts_path(:order=> "by_developer")) %> 】</span>

      </p>
    </div>
<% end %>
</div>



<a href="#myPage" >
  <span id="gotop">回到<br/>顶部></span>
</a>
