
<div class="col-md-2"  >
  <span>
   <% if current_user %>
    <% if !current_user.is_fan_of?(@post) %>
      <%= link_to favorite_post_path(@post), :class => "like btn btn-default", method: :post do %>
        <i class="fa fa-heart fa-lg"></i>
      <% end %>
    <% else %>
      <%= link_to unfavorite_post_path(@post), :class => "unlike btn btn-default", method: :post do %>
        <i class="fa fa-heart fa-lg"></i>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to favorite_post_path(@post), :class => "like btn btn-default",method: :post do %>
      <i class="fa fa-heart fa-lg"></i>
    <% end %>
  <% end %>
  <span> 收藏人气（<%= @post.fans.count %>）</span>
</span>
      </div>
<h1> <%= @post.title %> </h1>

<p>
  <%= raw @post.content %>
</p>

<div class="row comment">
  <div class="col-sm-10 col-sm-offset-1">
    <h3 class="comments_title">
      <%= @post.comments.count %> 条评论
    </h3>
    <hr>
    <div id="reivews">
      <%= render @post.comments %>
      <hr>
      <%= render "comments/form" %>
    </div>
  </div>
</div>
<%= link_to like_post_path(@post), method: :put do %>
    <div class="pi-thumbs-up">
        赞（<%= @post.get_upvotes.size %>）
    </div>
<% end %>
<%= link_to dislike_post_path(@post), method: :put do %>
<div class="pi-thumbs-down">
    踩（<%= @post.get_downvotes.size%>）
</div>
<% end %>


<%= social_share_button_tag(@post.title) %><!-- 社交分享 -->

<a href="#myPage" >
       <span id="gotop">回到<br/>顶部></span>
 </a>
