<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
        <%= render "common/flashes" %>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-md-9">
            <%= yield %>
          </div>
          <div class="col-md-3">
            <div class="post-right-1">
              <div class="post-right-3">
                <h4 class="post-right-title">搜索</h4>
                <div class="form-group">
                  <%= form_tag search_posts_path, :class => "posts-search-form", :method => :get do %>
                    <div class="input-group" id="search-id" >
                      <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="本站搜索...">
                      <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                          <i class="glyphicon glyphicon-search"></i>
                        </button>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div class="form-group">
                  <form class="" action="https://www.baidu.com/" >
                    <div class="input-group" id="search-id" >
                      <input type="text" class="form-control" placeholder="百度搜索...">
                      <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                          <i class="glyphicon glyphicon-search"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="form-group">
                  <form class="" action="https://www.google.com/" >
                    <div class="input-group" id="search-id" >
                      <input type="text" class="form-control" placeholder="Google搜索...">
                      <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                          <i class="glyphicon glyphicon-search"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="post-right-2">
                <h4 class="post-right-title">文章分类</h4>
                <span><%= link_to("Ruby", ruby_posts_path(:order=> "by_developer")) %></span>
                <span><%= link_to("Rails", rails_posts_path(:order=> "by_developer")) %></span>
                <span><%= link_to("Linux", linux_posts_path(:order=> "by_developer")) %></span>
                <span><%= link_to("CSS", css_posts_path(:order=> "by_developer")) %></span>
                <span><%= link_to("HTML", html_posts_path(:order=> "by_developer")) %></span>
                <span><%= link_to("百宝箱", skill_posts_path(:order=> "by_developer")) %></span>
                <span><%= link_to("数据库", database_posts_path(:order=> "by_developer")) %></span>
                <span><%= link_to("JavaScript", javascript_posts_path(:order=> "by_developer")) %></span>
                <span><%= link_to("个人成长", upward_posts_path(:order=> "by_developer")) %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
